[user]
	email = lanberb.2@gmail.com
	name = Nao Sasaki
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[color]
	ui = auto
[alias]
  amend = commit --amend
  autosquash = rebase -i --autosquash
  branchout = switch -c
  branches = branch -a
  fixup = commit --fixup
	pushf = push -f
	save = commit -m
[rebase]
	autostash = true
