[user]
	email = lanberb.2@gmail.com
	name = Nao Sasaki
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[color]
	ui = auto
[alias]
	amend = commit --amend
	autosquash = rebase --autosquash
	branches = branch -a
	branchout = switch -c
	cancel = reset --soft HEAD^
	fixup = commit --fixup
	logr = log --oneline --reverse
	logs = log --oneline
	pop = stash pop
	pushat = push origin @
	pushf = push -f
	save = commit -m
	stashes = stash list
	wip = !git add . && git commit -m "wip"
[rebase]
	autosquash = true
